body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

h1, h2 {
  text-align: center;
  margin: 20px 0;
}

form {
  max-width: 600px;
  margin: 2em auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

button[type="calculate"],
button[type="submit"] {
  margin-top: 15px;
width: 100%;
}

p {
  font-weight: bold;
  margin: 10px 0;
}

#confirmation {
  text-align: center;
  background-color: lightgreen;
  color: green;
  display: none;
  border-radius: 5px;
  width: 100%;
}
